defusedxml==0.6.0
Django==1.11.23
django-pandas==0.6.1
djangorestframework==3.9.4
djangorestframework-csv==2.1.0
djangorestframework-xml==1.4.0
drf-renderer-xlsx==0.3.5
et-xmlfile==1.0.1
jdcal==1.4.1
numpy==1.16.5
openpyxl==2.6.4
pandas==0.24.2
pkg-resources==0.0.0
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.1.2
rest-pandas==0.1.1
schedule==0.6.0
six==1.13.0
unicodecsv==0.14.1
